

*{
    font-family: terminal;
    font-size:17pt;
    color:tomato;
}

@font-face {
    font-family: 'terminal';
    src: url("awcathodealt-webfont.ttf");
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'terminal';
    src: url("awcathodealt-light-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}

body
{
    padding: 0px 0px 0px 100px;
}

html{ 
    background-color: black;
}

h1
{
    font-size:25pt;
    color:gold;
}

table
{
    border:1px outset grey;
}

td
{
    border:1px inset grey;
    padding: 10px;
}

